name: ci

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:

      - name: checkout
        uses: actions/checkout@v3

      - name: submodules
        run: |
          git submodule init
          git submodule update

      - name: run build
        run: bash test_dockerfile.sh

